<div class="details-page">
  <div class="details-container" *ngIf="form">
    <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
      <input type="hidden" formControlName="id" />
      <mat-form-field class="full-width">
        <input matInput [placeholder]="'Maintenance.Code' | translate" formControlName="shortCode" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput [placeholder]="'Maintenance.Endpoint' | translate" formControlName="endpointUrl" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          [matDatepicker]="createdOnPicker"
          formControlName="createdOn"
          [placeholder]="'Maintenance.Created' | translate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="createdOnPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #createdOnPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          [matDatepicker]="expirationOnPicker"
          formControlName="expirationOn"
          [placeholder]="'Maintenance.Expiration' | translate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="expirationOnPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #expirationOnPicker></mat-datepicker>
      </mat-form-field>
    </form>
    <div class="controls-panel">
      <div class="left-controls">
        <button mat-flat-button color="warn" (click)="delete()">{{'Button.Delete' | translate}}</button>
      </div>
      <div class="right-controls">
      <button mat-flat-button color="accent" (click)="back()">{{'Button.Back' | translate}}</button>
      <button
        mat-flat-button
        color="primary"
        [disabled]="!form.valid || form.pristine"
        (click)="save()"
      >
      {{'Button.Save' | translate}}
      </button>
    </div>
    </div>
  </div>
  <div class="statistics-container" *ngIf="model">
    <app-maintenance-hits [hits]="model.totalHits"></app-maintenance-hits>
    <app-hourly-chart></app-hourly-chart>
    <app-daily-chart></app-daily-chart>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
