<div class="center-page-panel">
  <div class="panel">
    <div class="panel-header"><h2>Unauthorized</h2></div>
    <div class="panel-content">
      Oops, authorization failed, please try again
    </div>
    <div class="panel-footer">
      <a href="/">Back to main</a>
    </div>
  </div>
</div>

<div class="center-page-panel">
  <div class="panel">
    <div class="panel-header"><h2>{{ 'Home.AuthFailed.Header' | translate }}</h2></div>
    <div class="panel-content">
      {{ 'Home.AuthFailed.Description' | translate }}
    </div>
    <div class="panel-footer">
      <a href="/">{{'Button.BackToMain' | translate}}</a>
    </div>
  </div>
</div>
