@import "./variables.scss";

html,
body {
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  background-color: #121212;
  color: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color-light;
  font-weight: 400;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

a {
  color: $primary-color;
  font-weight: 600;
  text-decoration: none;
}

input,
button {
  color: $fore-color;
}

.home-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/backgrounds/0001.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  .home-panel {
    background: rgba($color: #000000, $alpha: 0.8);
    border-radius: 1rem;
    width: 640px;
    padding: 2rem;

    .not-logged-in {
      display: flex;
      flex-direction: column;
      .not-logged-in-controls {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }

    .logged-in-controls {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      button {
        margin-left: 1rem;
      }
    }
    .input-field {
      display: flex;
      flex-flow: row;
      .input-field-text {
        flex: 9 9 90%;
      }
      .input-field-button {
        flex: 1 1 10%;
      }
      .link-text-input {
        background-color: $primary-color;
        border-color: $primary-color;
        border-radius: 1rem 0 0 1rem;
        border-style: solid;
        font-size: 1rem;
        font-family: Raleway;
        padding: 0.5rem;
        width: 100%;
      }
      .link-text-button {
        background-color: $primary-color;
        border-color: $primary-color;
        border-radius: 0 1rem 1rem 0;
        border-style: solid;
        font-size: 1rem;
        font-family: Raleway;
        padding: 0.5rem;
        width: 100%;
        cursor: pointer;
      }
      .link-text-input:focus {
        outline: none;
      }
      .link-text-button:focus {
        outline: none;
      }
    }
  }
}

.center-page-panel {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/backgrounds/0001.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  .panel {
    background: rgba($color: #000000, $alpha: 0.8);
    border-radius: 1rem;
    width: 640px;
    padding: 2rem;

    .panel-header {
      color: $primary-color;
    }
    .panel-content {
    }
    .panel-footer {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

.full-width {
  width: 100%;
}

* {
  box-sizing: border-box;
}
