<div class="home-page-container">
  <div class="home-panel">
    <app-title></app-title>
    <div *ngIf="!loggedIn" class="not-logged-in">
      <div class="not-logged-in-info">
        <p>
          Awesome, you're trying to share content and make your links shorter.
          Because we want you to have full control over your links, we ask you
          to login. You don't have to create an account, just log in with your
          favorite login authority and you're good to go.
        </p>
      </div>
      <div class="not-logged-in-controls">
        <button mat-flat-button color="primary" (click)="login()">Login</button>
      </div>
    </div>
    <div *ngIf="loggedIn" class="logged-in">
      <div class="logged-in-info">
        <p>Type or paste your link in the textbox below to shorten it.</p>
      </div>
      <div class="logged-in-input">
        <div class="input-field-component">
          <div class="input-field">
            <div class="input-field-text">
              <input
                type="text"
                class="link-text-input"
                (paste)="onPaste($event)"
                (keyup.enter)="onEnter($event)"
                [disabled]="isLoading ? 'disabled' : null"
                [(ngModel)]="endpointUrl"
              />
            </div>
            <div class="input-field-button">
              <button class="link-text-button" (click)="addLink()">Add</button>
            </div>
          </div>
        </div>
      </div>
      <div class="logged-in-controls">
        <span *ngIf="latestLink"> https://4dn.me/{{ latestLink }} </span>
        <button mat-flat-button color="accent" (click)="logout()">
          Logout
        </button>
        <button mat-flat-button color="primary" (click)="navigateMaintenance()">
          Maintenance
        </button>
      </div>
    </div>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
