<div class="home-page-container">
  <div class="home-panel">
    <app-title></app-title>
    <div *ngIf="!loggedIn" class="not-logged-in">
      <div class="not-logged-in-info">
        <p>
          {{ 'Home.Description' | translate }}
        </p>
      </div>
      <div class="not-logged-in-controls">
        <button mat-flat-button color="primary" (click)="login()">{{ 'Button.Login' | translate }}</button>
      </div>
    </div>
    <div *ngIf="loggedIn" class="logged-in">
      <div class="logged-in-info">
        <p>{{ 'Home.Instruction' | translate }}</p>
      </div>
      <div class="logged-in-input">
        <div class="input-field-component">
          <div class="input-field">
            <div class="input-field-text">
              <input
                type="text"
                name="endpointUrl"
                class="link-text-input"
                (paste)="onPaste($event)"
                (keyup.enter)="onEnter($event)"
                [disabled]="isLoading ? 'disabled' : null"
                [(ngModel)]="endpointUrl"
              />
            </div>
            <div class="input-field-button">
              <button class="link-text-button" (click)="addLink()">{{ 'Button.New' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="error-message" *ngIf="errorMessage">
        <span *ngFor="let msg of errorMessage">{{ msg }}</span>
      </div>
      <div class="logged-in-controls">
        <span class="latest-link" *ngIf="latestLink">
          https://4dn.me/{{ latestLink }}
        </span>
        <button mat-flat-button color="accent" (click)="logout()">
          {{ 'Button.Logout' | translate }}
        </button>
        <button mat-flat-button color="primary" (click)="navigateMaintenance()">
          {{ 'Button.Maintenance' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
