.shortlink-code {
}
.shortlink-endpoint {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shortlink-expiration {
  display: none;
}
.shortlink-hits {
  display: none;
}

table {
  width: 100%;
}

.cell-xxs {
  flex: 1 1 10%;
}
.cell-xs {
  flex: 2 2 20%;
}
.cell-s {
  flex: 3 3 30%;
}
.cell-m {
  flex: 4 4 40%;
}
.cell-l {
  flex: 5 5 50%;
}
.cell-xl {
  flex: 6 6 60%;
}
.cell-xxl {
  flex: 7 7 70%;
}

@media only screen and (min-width: 768px) {
  .shortlink-endpoint {
    margin-right: 1rem;
  }
  .shortlink-hits {
    display: flex;
  }
}

@media only screen and (min-width: 1200px) {
  .shortlink-expiration {
    display: flex;
  }
}

@media only screen and (min-width: 1600px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
}
