<div class="list" *ngIf="list && list.length > 0">
  <mat-table [dataSource]="list">
    <ng-container matColumnDef="shortCode">
      <mat-header-cell *matHeaderCellDef class="cell-xs shortlink-code">
        Code
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="cell-xs shortlink-code">
        <a [routerLink]="['/maintenance', element.id]">
          {{ element.shortCode }}
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="endpointUrl">
      <mat-header-cell
        mat-header-cell
        *matHeaderCellDef
        class="cell-l shortlink-endpoint"
      >
        Endpoint
      </mat-header-cell>
      <mat-cell
        mat-cell
        *matCellDef="let element"
        class="cell-l shortlink-endpoint"
        title="{{ element.endpointUrl }}"
      >
        {{ element.endpointUrl }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expirationOn">
      <mat-header-cell
        mat-header-cell
        *matHeaderCellDef
        class="cell-xs shortlink-expiration"
      >
        Expiration
      </mat-header-cell>
      <mat-cell
        mat-cell
        *matCellDef="let element"
        class="cell-xs shortlink-expiration"
      >
        {{ element.expirationOn | date }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalHits">
      <mat-header-cell
        mat-header-cell
        *matHeaderCellDef
        class="cell-xxs shortlink-hits"
      >
        Hits
      </mat-header-cell>
      <mat-cell
        mat-cell
        *matCellDef="let element"
        class="cell-xxs shortlink-hits"
      >
        {{ element.totalHits }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
<div class="empty-state-frame" *ngIf="!isLoading && list && list.length === 0">
  <div class="empty-state-panel">
      <img src="/assets/images/sattelite.svg" style="width: 140px; height: 160px" />
      <h3>Nothing here</h3>
      <p>We've been looking everywhere, but couldn't find anything that belongs to you</p>
  </div>
</div>
<app-loading *ngIf="isLoading"></app-loading>
